@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
	font-size: 20px;
	font-family: "Noto Serif";
	text-align: justify;
}
.container {
	max-width: 1030px;
	margin: 0px auto;
}
.wrapper {
	position: relative;
	min-height: 100%;
	overflow: hidden;
}

.main {
	padding-top: 0px;
	margin-bottom: 65px;
}


@media (max-width:991.98px) {
	.container{
		max-width: 75%;
	}	
}

@media (max-width:767.98px) {
	.container{
		max-width: 56%;
		margin: 20px auto;
	}
}

@media (max-width:575.98px) {
	.container{
		min-width: 320px;
		margin: 10px auto;
		font-size: 16px;
	}
	.header_img img{
		max-width: 320px;
		height: auto;
		top: 20px;
	}
	.about_main{
		flex-direction: column;
	}
	.about_scr{
		order: 1;
		margin: 0 auto;
	}
	.ab_text{
		min-width: 320px;
		text-align: center;
		order: 2; 
		margin-bottom: 40px;
	}
	.about_img img{
		max-width: 170px;
		height: auto;
		margin-left: 75px;
	}
	.title1{
		text-align: center;
	}
	.text1{
		text-align: center;
	}
	.bottom{
		flex-direction: column;
	}
	.bottom .contact_text{
		align-self: center;
	}
	.bottom .gate_img{
		align-self: center;		
	}
}

.header {
	position:absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 545px;
	background-color: #959C9A;
}

.header_img {
	position: relative;
	max-width: 505px;
	height: 620px;
	top: 70px;
	margin-left: 0px;
	float: left;	
}

.header_img img{
	object-fit: cover;
}

.header_text {
	position: relative;
	max-width: 462px;
	height: 328px;
	right: 0px;
	top: 161px;
	bottom: 56px;
	display: flex;
	align-items: center;
	float: right;
}

.title {
	font-size: 32px;
	line-height: 43.58px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
}

.title1{
	font-size: 32px;
	line-height: 43.58px;
	font-weight: 500;
	text-transform: uppercase;
}

.text {
	font-size: 21px;
	font-weight: 400;
	line-height: 27px;
	display: flex;
	align-items: center;
	text-align: center;
	margin-top: 43px;
	
}

.text1 {
	align-items: left;
	margin-top: 40px;
	margin-bottom: 40px;
}

.bottom{
	position: relative;
	width: 100%;
	min-height: 279px;
	float: right;
	margin-right: 0;
	padding-bottom: 40px;
	display: flex;
	justify-content: space-between;
	
}


.about_main{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	
}

.about{
	position: relative;
	width: 295px;
	height: 66px;
	margin-right: 0px;
	padding-bottom: 0px;
}

.ab_text{
	position: relative;
	max-width: 650px;
	height: 250px;
	margin-top: 185px;
	display: flex;
	align-items: center;
	float: left;
	margin-right: 0;
}

.about_scr{
	position: relative;

	
	
	
	
}

.about_img {
	position: relative;
	margin-top: 40px;
	max-width: 290px;
	max-height: 290px;
		
}
.about_img img{
	width: 100%;
	height: auto;
		
}

.gate_img{
	position: relative;
	margin-top: 0px;
	margin-left: 0px;
	width: 525px;
	height: 279px;
	float: right;
}




.table{
	position: relative;
	width: 100%;
	margin: 40px auto;
	border-collapse: collapse;
}

.table thead{
	text-align: center;
	font-size: 21px;
	text-transform: uppercase;
	border: 2px solid #959C9A;
}

.table tbody{
	text-align: center;
}

.table td:not(.td_2){
	padding: 8px 15px;
}

.td_2{
	text-align: left;
	padding: 8px 30px;
}

.table td{
	border: 1px solid #959C9A;
}
.table tr:hover{
	background-color: #dcdede;
	transition: all 0.4s;	
}

.table_scroll{ overflow-x: auto;
}




.footer {
	position: absolute;
	width: 100%;
	height: 65px;
	bottom: 0;
	background-color: #959C9A;
}

.icons{
	position: relative;
	width: 205px;
	height: 65px;
	margin: 0 0 0 -102.5px;
	left: 50%;

}

.icons img{
	width: 65px;
	height: 65px;
}

























